.synonyms-container {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    padding: 12px;
    border: blue solid 2px;
    border-radius: 4px;
    font-family: sans-serif;
}